*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

html,body{
    font-family: Bebas neue;
    font-size: 18px;
    font-weight: normal;
    height: 100%;
    /* background: url(../img/overlays/img_0367.jpg); */
    background: black;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

.logo{
    padding-top: 20px;
}
span{ 
    color: tomato;
    width: fit-content;
}
.header{
    padding: 15px 35px;
    display: inline-block;
    width: 100%;
    margin-top: -3%;
}

img{
    max-width: 100%;
}

.menu{
    float: right;
}

.menu ul li{
    display: inline-block;
    float: left;
    margin-top: -6%;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    padding: 1px 20px;
}
.menu ul li a:hover{
    color: tomato;
}

.name{
    width: 350px;
    margin-top: 200px;
    text-align: right;
    margin-left: 15px;
    border-left: 2px solid tomato;
}

.name h5{
    color: tomato;
    font-size: 21px;
    letter-spacing: 5px;
}

.name h1{
    font-size: 90px;
    letter-spacing: 3px;
}
.card-title{
    color: tomato;
}

.list-group{
    color: white;
    padding-bottom: 15px;
    padding-top: 5px;
}

.list-group-item{
    background: tomato;
}

#line{
    border-right: 1px solid tomato;
}

#line2{
    border-bottom: 1px solid tomato;   
    border-top: 1px solid tomato;
}

.middle{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.button{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #000000;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: rgb(252, 252, 252);
    overflow: hidden;
    position: relative;
}
.button i{
    line-height: 60px;
    font-size: 26px;
    transition: 0.2s linear;
}
.button:hover{
    transform: scale(1.3);
    color: #000000;
}

.button::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: tomato;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.button:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }50%{
        top: 10%;
        left: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

h2{
    color: black;
}


svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #ff04f7;
}
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #d2f145;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-top: -10%;
}

.container #card{
    position: relative;
    width: 200px;
    background: linear-gradient(0deg, #7c7b7b70, rgb(80, 79, 79), #7c7b7b70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container #card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container #card:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    /* background: #222; */
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

#card:hover .percent .number h2{
    color: tomato;
    font-size: 60px;
}

.percent .number h2 span{
    font-size: 24px;
    color: #777;
}

#card:hover .percent .number h2 span{
    color: tomato;
}

.text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

#card:hover .text{
    color: tomato;
}

a{
    color: white;
}
a:hover{
    color: tomato;
}

.box{
    padding: 20px;
}

